@charset "UTF-8";
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "Arial", sans-serif;
}
p{
  margin-bottom: 10px;
}
.fontRed {
  margin-left: 5px;
  color: #f00;
}
a {
  text-decoration: none;
}
label {
  margin-right: 5px;
}
header {
  width: 1000px;
  height: 70px;
  margin-inline: auto;
}
header h1 {
	height: 70px;
	font-size: 3.2rem;
	line-height: 70px;
	text-align: center;
}
nav {
	width: 1000px;
  height: 30px;
	margin-inline: auto;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #666;
}
nav ul {
	display: flex;
	justify-content: space-between;
  width: 500px;
  margin-inline: auto;
	list-style: none;
}
main {
  width: 1000px;
  min-height: 500px;
  margin-inline: auto;
  margin-bottom: 20px;
  
}
main h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
}

main img {
  display: block;
  width: 110px;
}
footer {
  width: 1000px;
  margin-inline: auto;
  text-align: center;
}
footer small {
  font-size: 1rem;
}
/* ログイン画面
-----------------------------------------------*/
main#login-out {
  width: 500px;
  text-align: center;
  h2 {
    text-align: center;
  }
  form {
    margin-bottom: 40px;
  }
  input{
    width: 250px;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: content-box;
    
  }
  button {
    width: 250px;
    padding: 5px 8px;
    background-color: cadetblue;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: content-box;
    color: #fff;
  }
  a {
    color: cadetblue;
  }
}
/* 登録フォームの設定
-----------------------------------------------*/
main#regist {
  width: 600px;
  h2{
    text-align: center;
  }
  form {
    width: 500px;
    margin-inline: auto;
    padding: 20px 20px 0 20px;
    border: 1px solid #666;
  }
  label {
    display: inline-block;
    width: 220px;
  }
  input[type="text"],
  input[type="password"] {
    width: 250px;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: content-box;
  }
  p {
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 20px;
    margin-left: 20px;
    color:#f00;
  }
  li {
    margin-bottom: 5px;
  }
  button {
    width: 250px;
    padding: 5px 8px;
    background-color: cadetblue;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: content-box;
    color: #fff;
  }
  .cntbtn {
    padding-top: 20px;
    text-align: center;
  }
  .badge {
    margin-left: 5px;
    padding: 5px;
    background-color: #f00;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }
}
/* ToDoリスト画面
-----------------------------------------------*/
main#todo {
  width: 500px;
  text-align: center;
  h2 {
    text-align: center;
  }
  form {
    margin-bottom: 40px;
  }
  input[type="text"]{
    width: 300px;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: content-box;
    
  }
  ul {
    width: 480px;
    margin-inline: auto; /* ul要素自体はmain内で中央揃え */
    margin-bottom: 20px;
    
  }
  ul li {
    margin-bottom: 10px;
    list-style: disc; /* 黒丸を表示する */
    text-align: left; /* ここで強制的に左寄せ */
    padding: 5px; /* 余白を追加 */
  }
  ul li ol {
    display: flex;
    gap: 0px;
    justify-content: flex-start;
  }
  ul li ol li{
    list-style: none; /* olの番号を消す */
  }
  ul li ol li:nth-of-type(2) {
    width: 340px;
  }
  button {
    width: 300px;
    padding: 5px 8px;
    background-color: cadetblue;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: content-box;
    color: #fff;
  }
}





/* 商品検索画面
-----------------------------------------------*/
main#product table,
main#product th,
main#product td
 {
  border: 1px solid #666;
}
main#product table {
  width: 600px;
}
main#product table th {
  height: 30px;
  vertical-align: middle;
}
main#product table td{
  width: 150px;
  vertical-align: middle;
}
main#product table td:nth-of-type(1) {
  width: 40px;
  text-align: center;
}
main#product table td:nth-of-type(2) {
  width: 110px;
}
main#product table td:nth-of-type(3) {
 padding-left: 10px;
 box-sizing: border-box;
}
main#product table td:nth-of-type(4) {
 padding-right: 10px;
 box-sizing: border-box;
 text-align: right;
}
main#product table td:nth-of-type(5) {
 text-align: center;
}
/* カート画面
-----------------------------------------------*/
main#cart table,
main#cart th,
main#cart td
 {
  border: 1px solid #666;
}
main#cart table {
  width: 750px;
}
main#cart table th {
  height: 30px;
  vertical-align: middle;
}
main#cart table td{
  width: 150px;
  vertical-align: middle;
}
main#cart table td:nth-of-type(1) {
  width: 40px;
  text-align: center;
}
main#cart table td:nth-of-type(2) {
  width: 110px;
}
main#cart table td:nth-of-type(3) {
 padding-left: 10px;
 box-sizing: border-box;
}
main#cart table td:nth-of-type(4),
main#cart table td:nth-of-type(5) {
 padding-right: 10px;
 box-sizing: border-box;
 text-align: right;
}
main#cart table td:nth-of-type(6) {
 text-align: center;
}
/* 購入画面
-----------------------------------------------*/
main#purchase table,
main#purchase th,
main#purchase td
 {
  border: 1px solid #666;
}
main#purchase table {
  width: 600px;
}
main#purchase table th {
  height: 30px;
  vertical-align: middle;
}
main#purchase table td{
  width: 150px;
  vertical-align: middle;
}
main#purchase table td:nth-of-type(1) {
  width: 40px;
  text-align: center;
}
main#purchase table td:nth-of-type(2) {
  width: 110px;
}
main#purchase table td:nth-of-type(3) {
 padding-left: 10px;
 box-sizing: border-box;
}
main#purchase table td:nth-of-type(4),
main#purchase table td:nth-of-type(5) {
 padding-right: 10px;
 box-sizing: border-box;
 text-align: right;
}
main#purchase input[name="address"] {
  width: 30em;
}