<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- meta要素の部品化 -->
<div th:fragment="meta" th:remove="tag"><!-- th:remove="tag"は、この <div> タグ自体を削除し、中身だけ貼り付けるという命令 -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- モバイルデバイスで閲覧する際、電話番号を自動的に検出しないようにする -->
  <meta name="format-detection" content="telephone=no">
</div>
<!-- link要素の部品化 -->
<div th:fragment="styles" th:remove="tag">
  <!-- Reset CSS -->
  <link rel="stylesheet" th:href="@{/css/html5reset-1.6.1.css}">
  <!-- Original CSS -->
  <link rel="stylesheet" th:href="@{/css/chap25.css}">
</div>
  <title>共通化用のHTMLファイル</title>
</head>
<body>
<!-- header要素の部品化 -->
<div　th:fragment="header" th:remove="tag">
  <header>
    <h1>寿司処リカレントオンラインショッピング</h1>
  </header>
</div>
<!-- nav要素の部品化 -->
<div　th:fragment="nav" th:remove="tag"> 
  <nav>
    <ul>
      <li><a th:href="@{/product}">商品</a></li>
      <li><a th:href="@{/cart}">カート</a></li>
      <li><a th:href="@{/purchase}">購入</a></li>
      <!-- ▼ 未ログインで表示 -->
      <li sec:authorize="isAnonymous()">
        <a th:href="@{/login}">ログイン</a>
      </li>
      <!-- ▼ ログイン済みで表示 -->
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
          ログアウト
        </a>
        <form id="logout-form" class="d-none" th:action="@{/logout}" method="post"></form>
      </li>
    </ul>
  </nav>
</div>
<!-- footer要素の部品化 -->
<div　th:fragment="footer" th:remove="tag"> 
  <footer>
    <smal>&copy; 2025 Recurrent. All rights reserved.</smal>
  </footer>
</div>
</body>
</html>